.custom-badge {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.badge-container {
  margin-block: 10px;
  display: flex;
  align-items: center;
}
